<%- include("partials/header") -%>


<h1 id="leaderboard-title">Leaderboard</h1>

<div class="container leaderboard-container">
  <div class="row">

    <div class="col-md-6 menu">
      <a href="/game">
        <button class="btn btn-lg btn-danger play-btn" type="button" name="button">Play</button>
      </a>
      <a href="/">
        <button class="btn btn-lg btn-outline-dark home-btn" type="button" name="button">Home</button>
      </a>
    </div>

    <div class="leaderboard-right col-md-6">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Player Name</th>
            <th scope="col">Player Score</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i=0;i<foundPlayers.length;i++){ %>
          <tr>
            <th scope="row">
              <%=i+1%>
            </th>
            <td>
              <%= foundPlayers[i].playerName %>
            </td>
            <td>
              <%= foundPlayers[i].playerScore %>
            </td>
          </tr>
          <% }%>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
