<%- include("partials/header") -%>


<h1 id="leaderboard-title">Leaderboard</h1>

<div class="container leaderboard-container">
  <div class="row">
    <div class="col-md-6 leaderboard-left">
      <h4>Your Rank</h4>
      <table class="table table-light">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Player Name</th>
            <th scope="col">Player Score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="current-player-rank">
              <%= playerRank %>
            </th>
            <td>
              <%= playerName %>
            </td>
            <td>
              <%= playerScore %>
            </td>
          </tr>
        </tbody>
      </table>
      <a href="/game"><button class="btn btn-lg btn-danger play-btn play-btn-leaderboard" type="button" name="button">Play Again!</button></a>
      <a href="/">
        <button id="home-btn-leaderboard" class="btn btn-lg btn-outline-dark home-btn" type="button" name="button">Home</button>
      </a>
    </div>

    <div class="col-md-6 leaderboard-right">
      <h4>Top 10 Players</h4>
      <table class="table table-dark" id="top-10-table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Player Name</th>
            <th scope="col">Player Score</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i=0;i<foundPlayers.length;i++){ %>
          <tr>
            <th scope="row">
              <%=i+1%>
            </th>
            <td>
              <%= foundPlayers[i].playerName %>
            </td>
            <td>
              <%= foundPlayers[i].playerScore %>
            </td>
          </tr>
          <% }%>
        </tbody>
      </table>
    </div>


  </div>
</div>

<%- include("partials/footer") -%>
